{% extends 'sea2astBundle::layout.html.twig' %}

{% block page_title %}
	AST - Dashboard
{% endblock %}

{% block page_header %}
	Dashboard
{% endblock %}

{% block page_subheader %}

{% endblock %}

{% block body %}
    <section class="content">
        <a href="{{ path('sea2astTrackShow', {'id': track.id}) }}"><h3 class="box-title">Last Track</h3></a>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-arrows-h"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Distance</span>
                        <span class="info-box-number">{{ track.length }}km</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-clock-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Duration</span>
                        <span class="info-box-number">{{ track.duration }}</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12" style="display: none">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-circle-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Durchschnittsgeschwindigkeit</span>
                        <span class="info-box-number">16.8 km/h</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 col-xs-12" style="display: none">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-heart"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Kalorien</span>
                        <span class="info-box-number">1067 kcal</span>
                    </div><!-- /.info-box-content -->
                </div><!-- /.info-box -->
            </div><!-- /.col -->
        </div><!-- /.row -->

        <h3>Notification Timeline</h3>

        <ul class="timeline">

            {% for notification in notifications %}
            <!-- timeline item -->
            <li>
                <!-- timeline icon -->
                <i class="fa fa-rss bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i>{{ notification.date }}</span>

                    <h3 class="timeline-header">{{ notification.title }}</h3>

                    <div class="timeline-body">
                        {{ notification.content }}
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            {% else %}
            {% endfor %}

        </ul>


    </section>
{% endblock %}